@media (max-width:800px) {
    .btn-top{
        width: 10%;
    }
    main {
        padding: 5%;
    }
    .logo {
        width: 40px;
    }
    .logo-back{
        width: 70px;
        height: 40px;
    }
}

main{
    padding-right: 10%;
    padding-left: 10%;
}

.btn-top {
    display: block;
    margin: auto;
    width: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sep{
    display: block;
    margin: auto;
}

body {
    font-family: 'Bellota', cursive;
}

.img-project {
    border: 5px solid rgb(214, 212, 212);
    box-shadow: 5px 5px 5px black;
    &:hover {
        transform: scale(1.1);
        transition: 1s ease-in-out;
    }
}

body {
    background-color: #1f2937ec;
}