@media (max-width:800px) {
    .btn-top{
        width: 10%;
    }
    main {
        padding: 5%;
    }
}

main{
    padding-right: 10%;
    padding-left: 10%;
}

.btn-top {
    display: block;
    margin: auto;
    width: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sep{
    display: block;
    margin: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}