.projet {
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    text-decoration: underline;
}

.logo {
    width: 45px;
}
.logo-back{
    width: 70px;
    height: 45px;
}
.logo-footer, .logo-nav{
    width: 20px;
}

.img {
    border-radius: 5px;
}

