@media (max-width:800px) {
    .img-project {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .img-header{
        padding-top: 10px;
    }
}

.img-header{
    padding-left: 10%;
    border-radius: 100%;
}
